@media only screen and (min-width:1500px) {
	#section-1 h1 {
		font-family: 'font_1';
		font-size: 40px;
		margin-top: 30%;
	}
}
/* end @media only screen and (min-width:1500px)*/

@media only screen and (max-width : 1224px) {
	#section-1 h1 {
		font-family: 'font_1';
		font-size: 40px;
		margin-top: 30%;
	}
}

/* end @media only screen and (max-width : 1224px) */

@media only screen and (max-width : 1024px){
	#section-1 h1 {
		font-family: 'font_1';
		font-size: 40px;
		margin-top: 30%;
	}
}

/*end @media only screen and (max-width : 1024px)*/

@media only screen and (max-width : 768px) {
}

/* end @media only screen and (max-width : 768px)*/

@media only screen and (max-width : 640px) {
}

@media only screen and (max-width : 375px) {

	#section-1 {
	background: #F0F0F0 url('../img/bg.jpg');
	background-size: 278%;
	background-position-x: -143px;
	}
	#section-1 .logo-section {
	padding-left: 4%;
	text-align: center;
	}
	#section-1 .logo-section img {
	height: 66px;
	}
	#section-1 ul.home-login {
		display: none;
	}
	#section-1 .section-1-content {
	margin-left: 9%;
	}
	#section-1 h1 {
	font-size: 20px;
	margin-top: 50%;
	}
	#section-1 p {
		font-size: 15px;
		width: 100%;
	}
	#section-1 .scroll-down{
		display: none;
	}
	#section-1 .mobile-img img {
	height: 205px;
	}
	#section-1 .mobile-img {
	margin-top: 42%;
	margin-left: 0%;
	}
	nav .col-5 span{
		display:none;
	}
	nav .col-5:nth-child(1) a {
		padding-top: 10px;
		padding-left: 16px;
	}
	nav .col-5:nth-child(1) a img{
		height: 32px;
	}
	nav .col-5:nth-child(2) a {
	padding-top: 12px;
	}
	nav .col-5:nth-child(3) a {
	padding-top: 12px;
	}
	nav .col-5:nth-child(4) a {
	padding-top: 12px;
	}
	nav .col-5:nth-child(5) a {
	padding-top: 11px;
	padding-right: 12px;
	}



	.section-left .tablet-icon {
		margin-top: 17%;
		margin-left: 8%;
		width: 15%;
		float: left;
	}
	.section-left .tablet-icon img{
		height: 54px;
	}
	.section-left h1 {
		font-size: 23px;
		width: 62%;
		margin-left: 6%;
		margin-top: 13%;
		float: left;
	}
	.section-left p {
		width: 89%;
		font-size: 14px;
		font-family: 'font_3';
		margin-top: 18px;
		margin-left: 5%;
		margin-top: 425px;
		margin-bottom: 7%;
	}
	.mobile-img{
		float:none !important;
		text-align: center;
	}
	.section-left .mobile-img img{
		margin: auto;
		height: 282px;
		position: absolute;
		top: 120px;
		left: 0;
		right: 0;
	}



	.section-right .tablet-icon {
		margin-top: 13%;
		margin-left: 8%;
		width: 19%;
		float: left;
	}
	.section-right .tablet-icon img{
		height: 45px;
	}
	.section-right h1 {
		font-size: 23px;
		width: 59%;
		margin-left: 6%;
		margin-top: 13%;
		float: left;
		text-align: left;
	}
	.section-right p {
		width: 89%;
		font-size: 14px;
		font-family: 'font_3';
		margin-top: 18px;
		margin-left: 5%;
		margin-top: 425px;
		margin-bottom: 7%;
	}
	.section-right .mobile-img img{
		margin: auto;
		height: 282px;
		position: absolute;
		top: 108px;
		left: 0;
		right: 0;
	}

	#section-4.section-left .tablet-icon{
		width: 21%;
		margin-top: 14%;
	}
	#section-4.section-left .tablet-icon img{
		height: 34px;
	}
	#section-4.section-left h1{
		width: 62%;
	}
	#section-4.section-left p {
		width: 89%;
	}

	#section-6 .tablet-icon {
		margin-top: 13%;
	}
	#section-6 .tablet-icon img {
		height: 108px;
	}
	#section-6 h1 {
		font-size: 30px;
	}
	#section-6 p {
		font-size: 14px;
		width: 90%;
		text-align: justify;
		padding-left: 6%;
	}
	#section-6 .report-img img {
		margin: 4% 0% 0 0;
		height: auto;
		width: 100%;
	}

	#header-section h2 {
		font-size: 19px;
	}
	#header-section ul {
		width: 83%;
	}
	#header-section ul li {
		margin-left: 14px;
		margin-right: 14px;
	}
	.form .form-field{
		margin-left: 8.33333333%;
	}
	.form .form-field textarea{
		margin-top: 20px;
	}
	#header-section .form .send {
		text-align: center;
	}
	#header-section .form .send button {
		border-radius: 0px;
		font-size: 14px;
		margin-top: 15px;
		width: 70%;
	}
	.last-strip ul {
		text-align: center;
	}
	.last-strip ul li a {
		font-size: 11px;
	}
}