

@font-face {
	font-family: 'font_1';
	src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'font_2';
	src: url('fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family: 'font_3';
	src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'font_4';
	src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
	font-family: 'font_5';
	src: url('fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: 'font_6';
	src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: 'font_7';
	src: url('fonts/Roboto-Regular.ttf');
}


body{
	overflow-x: hidden !important;
}


.col-centered{
    float: none;
    margin: 0 auto;
}
.col-5{
    width: 19.77%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.float-left{
	float:left !important;
}
.float-right{
	float:right !important;
}
ul.inline-ul{
	margin:0px;
	padding: 0px;
	list-style: none;
}
ul.inline-ul li{
	display: inline-block;
}
#section-1{
	background: #F0F0F0 url('../img/bg.jpg');
	background-size: 100%;
}
#section-1 .logo-section{
	padding-left: 12%;
}
#section-1 .logo-section img{
	height: 80px;
}
#section-1 ul.home-login{
	text-align: right;
	padding-right: 10%;
	margin-top: 3%;
}
#section-1 ul.home-login li{
	margin-left: 18px;
}
#section-1 ul.home-login li a{
	color: #000;
	font-family: 'font_7';
	text-decoration: none;
	padding: 2px;
}
#section-1 ul.home-login li a.active{
	border-bottom: 3px solid #67bab2;
}
#section-1 ul.home-login li a:hover{
	border-bottom: 3px solid #67bab2;
}
#section-1 ul.home-login li.login-li a{
	border: none;
	background: #67bab2;
	color: #fff;
	padding-left:8px;
	padding-right:8px;
	border-radius: 5px;
}
#section-1 h1{
	font-family: 'font_1';
	font-size: 40px;
	margin-top: 36%;
	margin-top: 168px;
}
#section-1 h1 span{
	font-family: 'font_3';
}
#section-1 p{
	width: 82%;
	font-size: 20px;
	font-family: 'font_3';
}
#section-1 .section-1-content{
	margin-left: 1%;
}
#section-1 .mobile-img{
	margin-top: 3%;
	margin-left: 14%;
}
#section-1 .mobile-img img{
	height: 468px;
}
#section-1 .app-icon{
	padding-left: 9%;
	margin-bottom: 6%;
	margin-top: 6%;
}
#section-1 .scroll-down{
	text-align: right;
	margin-top: 31%;
	padding-right: 13%;
	padding-bottom: 2%;
	margin-top: 125px;
}
#section-1 .scroll-down img{
	cursor: pointer;
}

/*start*/
/*nav section*/
/*start*/
.menu-section{
	height: 50px;

}
nav{
	z-index: 200;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	
}
nav .col-5 a{
	display: block;
	text-align: center;
	background: #018c7f;
	padding: 2px;
	height: 50px;
	color: #fff;
	margin-left: -15px;
	margin-right: -15px;
	text-decoration: none;
	font-size: 15px;
	font-family: 'font_2';
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;

}
nav .col-5 a img{
	margin-right: 6px;
}
nav .col-5 a:hover{
	background: #017167;
}
nav .col-5 a.active{
	background: #005951;
}
nav .col-5:nth-child(1) a{
	padding-top:6px;
}
nav .col-5:nth-child(2) a{
	padding-top:13px;
}
nav .col-5:nth-child(3) a{
	padding-top:13px;
}
nav .col-5:nth-child(4) a{
	padding-top:13px;
}
nav .col-5:nth-child(5) a{
	padding-top:13px;
}
nav.fixed{
	position:fixed;
	width: 100%;
	top:0px;
	z-index: 2;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
/*end*/
/*nav section*/
/*end*/


/*start*/
/*section-2*/
/*start*/

#section-2{
	background: #fff;
	background-size: 42%;
	background-repeat: no-repeat;
	background-position: right;
}
.section-left .mobile-img img {
	margin: 35% 0% 35% 22%;
	height: 427px;
}
.section-left .tablet-icon {
	margin-top: 17%;
	margin-left: 4%;
}
.section-left h1{
	font-family: 'font_1';
	font-size: 40px;
	color: #018c7f;
	border-bottom: 1px solid #949494;
	padding-bottom: 9px;
	width: 80%;
	margin-left: 4%;
}
.section-left h1 span{
	font-family: 'font_2';
}
.section-left p{
	width: 80%;
	font-size: 18px;
	font-family: 'font_3';
	margin-top: 18px;
	margin-left: 4%;
	text-align: justify;
}
.section-left .scroll-down img{
	margin-left: 14%;
	margin-top: 10%;
	cursor:pointer;
}

/*end*/
/*section-2*/
/*end*/



/*start*/
/*section-3*/
/*start*/

#section-3{
	background: #6fd5cb ;
	background-size: 46%;
	background-repeat: no-repeat;
	background-position: left;
}
.section-right .mobile-img img {
	margin: 35% 0% 35% -8%;
	height: 427px;
}
.section-right .content-section{
	text-align: right;
	padding-right: 5%;
}
.section-right .tablet-icon {
	margin-top: 20%;
}
.section-right h1{
	font-family: 'font_1';
	font-size: 40px;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 9px;
}
.section-right p{
	width: 100%;
	font-size: 18px;
	font-family: 'font_3';
	margin-top: 18px;
	color: #fff;
}
.section-right .scroll-down img{
	margin-right: 51%;
	margin-top: 15%;
	cursor: pointer;
}
/*end*/
/*section-3*/
/*end*/



/*start*/
/*section-4*/
/*start*/

#section-4{
	background: #fff ;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right;
}
#section-4 h1{
	width: 80%;
}
#section-4 p{
	width: 80%;
}

/*end*/
/*section-4*/
/*end*/


/*start*/
/*section-5*/
/*start*/
#section-5{
	background: #6fd5cb ;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: left;
}
/*end*/
/*section-5*/
/*end*/



#section-6{
	background: #017167;
}
#section-6 .report-img img {
	margin: 11% -2% 0 0;
	height: 561px;
	width: 818px;
}
#section-6 .content-section{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}
#section-6 .tablet-icon {
	margin-top: 49%;
}
#section-6 h1{
	font-family: 'font_1';
	font-size: 40px;
	color:#fff;
}
#section-6 h1 span{
	font-family: 'font_2';
}
#section-6 p{
	font-size: 18px;
	font-family: 'font_3';
	text-align: center;
	color:#fff;
}
.section-right p{
	width: 100%;
	font-size: 18px;
	font-family: 'font_3';
	margin-top: 18px;
	text-align: justify;
	color: #fff;
}
.section-right .scroll-down img{
	margin-right: 51%;
	margin-top: 15%;
	cursor: pointer;
}


#header-section{
	background: #2d3432;
}
#header-section h2{
	color: #54625e;
	text-align: center;
	font-family: 'font_1';
	margin-top: 10%;
	margin-bottom: 6%;
	font-size: 33px;
}
#header-section ul{
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #3e4747;
	width: 76%;
	margin: auto;
}
#header-section ul li{
	margin-left: 30px;
}
#header-section ul li img{
	height: 30px;
}
#header-section ul li a{
	display: block;
}
#header-section ul li img.twitter{
	height: 23px;
}
#header-section .form{
	margin-top: 20px;
	margin-bottom: 40px;
}
#header-section .form input[type="text"]{
	background: #242a28;
	height: 43px;
	border:1px solid #242a28;
	border-radius: 0px;
}
#header-section .form input[type="text"]:focus{
	background: #242a28 !important;
}
#header-section .form textarea{
	background: #242a28;
	border:1px solid #242a28;
	border-radius: 0px;
	height: 169px;
	resize: none;
}
#header-section .form textarea:focus{
	background: #242a28 !important;
}
#header-section .form .send{
	text-align: right;
}
#header-section .form .send button{
	background: #018c7f;
	color: #fff;
	padding: 8px 24px;
	margin-top: 5px;
	border: none;
	border-radius: 5px;
	font-size: 17px;
	font-family: 'font_3';
}

.last-strip{
	background: #323a38;
}
.last-strip ul{
	text-align: right;
	padding-right: 20px;
}
.last-strip ul li{
	color: #74817e;
	padding: 7px 0px;
}
.last-strip ul li a{
	color: #74817e;
	text-decoration: none;
	font-size: 12px;

}